# this compose file is for testing purposes only
# use it for testing docker containsers built on local machine
version: '3'
services:
  dbgate:
    build: docker
    # image: dbgate/dbgate:beta-alpine
    # image: dbgate/dbgate:alpine
    # image: dbgate/dbgate:beta
    restart: always
    ports:
      - 3100:3000
    # volumes:
    #   - /home/jena/dbgate-data:/root/dbgate-data

    volumes:
      - dbgate-data:/root/.dbgate

    # environment:
    #   WEB_ROOT: /dbgate

    # CONNECTIONS: mssql
    # LABEL_mssql: MS Sql
    # SERVER_mssql: mssql
    # USER_mssql: sa
    # PORT_mssql: 1433
    # PASSWORD_mssql: Pwd2020Db
    # ENGINE_mssql: mssql@dbgate-plugin-mssql
  proxy:
    # image: nginx
    build: test/nginx
    ports:
      - 8082:80

    volumes:
      - /home/jena/test/chinook:/mnt/sqt
    environment:
      CONNECTIONS: sqlite

      LABEL_sqlite: sqt
      FILE_sqlite: /mnt/sqt/Chinook.db
      ENGINE_sqlite: sqlite@dbgate-plugin-sqlite

  # mssql:
  #   image: mcr.microsoft.com/mssql/server
  #   restart: always
  #   environment:
  #     - ACCEPT_EULA=Y
  #     - SA_PASSWORD=Pwd2020Db
  #     - MSSQL_PID=Express

volumes:
  dbgate-data:
    driver: local

