.theme-dark {
  --theme-icon-blue: #3c9ae8;
  --theme-icon-green: #8fd460;
  --theme-icon-red: #e84749;
  --theme-icon-gold: #e8b339;
  --theme-icon-yellow: #e8d639;
  --theme-icon-magenta: #e0529c;
}
