name: NPM packages PREMIUM

# on: [push]

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'v[0-9]+.[0-9]+.[0-9]+-alpha.[0-9]+'

# on:
#   push:
#     branches:
#       - production

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-22.04]

    steps:
      - name: Context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Use Node.js 18.x
        uses: actions/setup-node@v1
        with:
          node-version: 18.x

      - name: Checkout dbgate/dbgate-pro
        uses: actions/checkout@v2
        with:
          repository: dbgate/dbgate-pro
          token: ${{ secrets.GH_TOKEN }}
          path: dbgate-pro

      - name: Merge dbgate/dbgate-pro
        run: |
          mkdir ../dbgate-pro
          mv dbgate-pro/* ../dbgate-pro/
          cd ..
          mkdir dbgate-merged
          cd dbgate-pro
          cd sync
          yarn
          node sync.js --nowatch
          cd ..

      - name: adjustNpmPackageJsonPremium
        run: |
          cd ..
          cd dbgate-merged
          node adjustNpmPackageJsonPremium

      - name: Configure NPM token
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          cd ..
          cd dbgate-merged
          npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"

      - name: yarn install
        run: |
          cd ..
          cd dbgate-merged
          yarn install
          
      - name: setCurrentVersion
        run: |
          cd ..
          cd dbgate-merged
          yarn setCurrentVersion

      - name: printSecrets
        run: |
          cd ..
          cd dbgate-merged
            yarn printSecrets
        env:
          GIST_UPLOAD_SECRET : ${{secrets.GIST_UPLOAD_SECRET}}

      - name: Publish dbgate-api-premium
        working-directory: packages/api
        run: |
          cd ..
          cd dbgate-merged
          npm publish

      - name: Publish dbgate-web-premium
        working-directory: packages/web
        run: |
          cd ..
          cd dbgate-merged
          npm publish

      - name: Publish dbgate-serve-premium
        working-directory: packages/serve
        run: |
          cd ..
          cd dbgate-merged
          npm publish

      - name: Publish dbgate-plugin-cosmosdb
        working-directory: plugins/dbgate-plugin-cosmosdb
        run: |
          cd ..
          cd dbgate-merged
          npm publish
